<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
     @await Html.PartialAsync("Partial/_Styles")
    <title>Hello, world!</title>
  </head>
  <body>
   
   
    @RenderBody();
    
   @await Html.PartialAsync("Partial/_Scripts")
  </body>
</html>