@using DASoTiemChung.Controllers
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    @await Html.PartialAsync("Partial/_Styles")
    @RenderSection("Styles", false)
    <title>Tra cứu chứng nhận tiêm chủng</title>
</head>
<body >
    <div>
        <div class="fixed-top align-items-center " style="background: linear-gradient(133deg,#ed1b23,#2e3091,#253494)!important">
            <div class="container">
                <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity text-white" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                        </svg>
                        <span class="fs-5 text-white ml-3 fontmobile text-center fw-bold ">CỔNG THÔNG TIN TIÊM CHỦNG COVID-19</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity text-white" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                        </svg>
                    </a>

                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="/" class="nav-link text-white" aria-current="page">Quản trị đăng nhập</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-white">Giới thiệu</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-white">Liên lạc</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-white">FAQs</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-white">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <footer
        
        class="pt-4 pb-4 " style="background-color: #2d2188" >
        <div  class="container text-center">
          <span class="text-white fs-5">Cổng thông tin tra cứu tiêm chủng</span>
        </div>
      </footer>

    @await Html.PartialAsync("Partial/_Scripts")
    @RenderSection("Scripts", false)
</body>
</html>